:root {
    --main-blue: #0094d9;
    --main-blue-light: #d9eff9;
    --main-blue-dark: #007bb5;

    --main-black: #212124;
    --main-grey: #6b7c93;
    --main-lightgrey:  #a4b0c0;

    --main-green: #c5d93b;

    /* Cambiar filtros en caso de modificar los colores de arriba */
    --filter-main-blue: invert(47%) sepia(88%) saturate(2089%) hue-rotate(161deg) brightness(94%) contrast(102%);
}

:focus {
    outline: none;
}

.nifty-ready #container {
    -webkit-transition: opacity 0.1s linear 0.1s;
    transition: opacity 0.1s linear 0.1s;
}

body.nifty-ready {
    font-size: 14px;
}

.asitur_input {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #e9e9e9;
}

#already_connected {
    color: slategrey;
}

.btnDefault{
    width: 263px;
    height: 48px;
    border-radius: 6px;
    color: white;
    border: 0px;
    background-color: var(--main-blue)
}

.btnDefaultMini{
    width: 240px;
    height: 25px;
    border-radius: 6px;
    color: white;
    border: 0px;
    background-color: var(--main-blue)
}

.btnDefault:hover{
    background-color: var(--main-blue-dark)
}

.datepicker table tr td.today,
.datepicker table tr td.today:hover, 
.datepicker table tr td.today.disabled, 
.datepicker table tr td.today.disabled:hover {
    background-image: none;
}

input.cranes_modal_inputs,
input.operators_modal_inputs {
    height: 36px;
}

.tooltip.bottom .tooltip-arrow{
    border-bottom-color: #0094d9;
}
.tooltip-inner {
    color: #6b7c93;
    border: solid 1px #0094d9;
    background-color: white;
}