{% extends 'mails/mailBase.html.twig' %}

{% block title %}Password Recovery{% endblock %}

{% block content %}
    <h1>Restablece tu contraseña</h1>
    <p>Hemos recibido una solicitud para restablecer tu contraseña. Si no has sido tú quien realizó esta solicitud, simplemente ignora este mensaje.</p>
    <br>
    <p>Para restablecer tu contraseña utiliza el siguiente enlace:</p>
    <br><br>
    <a href="{{ web_domain }}recoveryPassword/{{ token }}" target="_blank">Restablecer contraseña</a>
    <br><br><br>
    <p>Un saludo,</p>
{% endblock %}
