#*/10 * * * * /root/scripts/ejemplo.sh

# Sincronizacion de las tablas maestras (1 vez a la semana, los domingos a las 00:00)
0 0 * * 0 cd /var/www/rira.com/web && php bin/console cronSyncMasterTable

# Sincronización de las sucursales / gruas / operadores (cada hora)
0 * * * * cd /var/www/rira.com/web && php bin/console cronSyncBranchOfficeData

# Ponemos como no disponible a los operadores de forma automática
*/5 * * * * cd /var/www/rira.com/web && php bin/console cronAutoNoAvailabilityOperator

# Procesamiento de la cola de peticiones de grua (cada minuto)
* * * * * cd /var/www/rira.com/web && php bin/console cronSearchCranes
* * * * * sleep 10; cd /var/www/rira.com/web && php bin/console cronSearchCranes
* * * * * sleep 20; cd /var/www/rira.com/web && php bin/console cronSearchCranes
* * * * * sleep 30; cd /var/www/rira.com/web && php bin/console cronSearchCranes
* * * * * sleep 40; cd /var/www/rira.com/web && php bin/console cronSearchCranes
* * * * * sleep 50; cd /var/www/rira.com/web && php bin/console cronSearchCranes


# Procesamiento de autocancelaciones
* * * * * cd /var/www/rira.com/web && php bin/console cronAutoRefuseIntervention
* * * * * sleep 10; cd /var/www/rira.com/web && php bin/console cronAutoRefuseIntervention
* * * * * sleep 20; cd /var/www/rira.com/web && php bin/console cronAutoRefuseIntervention
* * * * * sleep 30; cd /var/www/rira.com/web && php bin/console cronAutoRefuseIntervention
* * * * * sleep 40; cd /var/www/rira.com/web && php bin/console cronAutoRefuseIntervention
* * * * * sleep 50; cd /var/www/rira.com/web && php bin/console cronAutoRefuseIntervention
